{{ form_start(meterReadingForm) }}

    {{ form_row(meterReadingForm.meter)}}
    {{ form_row(meterReadingForm.reading_date) }}
    {{ form_row(meterReadingForm.meter_reading) }}



<button type="submit" class="btn btn-primary">{{button_text}}</button>
{{ form_end(meterReadingForm) }}