{{ form_start(yearHeaterForm) }}


    {{ form_row(yearHeaterForm.heater, {
        label: 'Heater Number'
    })  }}
    {{ form_widget(yearHeaterForm.readingDate['day'],{'attr':{'style':'display:none'}}) }}
    {{ form_widget(yearHeaterForm.readingDate['month'],{'attr':{'style':'display:none'}}) }}
    {{ form_widget(yearHeaterForm.readingDate['year']) }}
    {{ form_row(yearHeaterForm.heater_reading) }}
<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(yearHeaterForm)

}}